---
layout: default
---

{% include navigation_bar.html %}

<div class="main-area">
  <h1 class="project-head"> Projects </h1>

  <section class="portfolio">

    <div class="project-belt">

      <div class="project-list-wrap">
        {% for project in site.categories.project %}
        <div class="project-thumb-container" id="thumb-{{forloop.index}}" data-content="{{project.content-src}}">
          <img class="project-thumb" src="{{project.img-src}}">
          <div class="project-thumb-overlay">
            <strong>{{project.title}}</strong>
          </div>
        </div>
        {% endfor %}
        </ul>
      </div>

      <div class="project-wrap">
        <div class="project-container">
          <div class="project-return">
          </div>
          <div class="project-load">
          </div>
        </div>
      </div>

    </section>

    <pre><code>
      .nav {
        float: right;
        padding-right: .2em;
        width: 60%;
      }

      li {
        line-height: 0.25rem;
        height: 0.5rem;
        display: inline-block;
        padding: 0.5em;
        padding-top: 1.5em;
        margin: auto;
        color: #5585A6
      }
    </code></pre>

  </div>
</div>
