---
layout: default
---
<div class='professional-page'>
  <div class='professional-section'>
    <div class='company-section'>
      {% include professional-project-name.html
        employer-name='Axosoft'
        project-name='GitKraken'
        project-avatar='/assets/img/professional/gitkraken/logo.jpeg'
      %}
      {% include professional-position.html
        position='Software Engineer'
        project-date-range='May 2019 - Present'
      %}
      {% include professional-position.html
        position='Software Engineer Intern'
        project-date-range='January 2019 - May 2019'
      %}
    </div>
    {%
      include professional-product-section-start.html
      project-avatar='/assets/img/professional/gitkraken/logo.jpeg'
      project-name='GitKraken'
      project-date-range='August 2020 - Present'
    %}
    <div class='professional-project-description'>
      <div>
        <span>CRM Service: </span>
        <span>Developed most of the UI components, worked heavily on the internal functionality, developed the front and backend for notification settings, and worked on an admin page to send notifications</span>
      </div>
      <div>
        <span>Notification System: </span>
        <span>Developed most of the UI components, worked heavily on the internal functionality, developed the front and backend for notification settings, and worked on an admin page to send notifications</span>
      </div>
      <div>
        <span>Toolbar Redesign: </span>
        <span>developed most of the UI components, worked heavily on the internal functionality, developed the front and backend for notification settings, and worked on an admin page to send notifications</span>
      </div>
      <div>
        <span>GitHub PR View: </span>
        <span>developed most of the UI components, worked heavily on the internal functionality, developed the front and backend for notification settings, and worked on an admin page to send notifications</span>
      </div>
      <p>I developed multiple features in GitKraken and in the process created many reusable components that have sped up the team's development.
        For GK's notification system I developed most of the UI components, worked heavily in the functionality, developed the front and backend for notification settings, and .
      </p>
    </div>
    <div class='professional-project-description'>
      <p>Projects: Repo Deep Linking, GitHub PR View, Notification System, Teams Visibility Panel, CRM Service</p>
    </div>
    <div class='professional-project-description'>
      <p>Technologies and libraries used: React, Electron, NodeGit, NodeJS, MongoDB, Kafka</p>
    </div>
    <div class='professional-scroll'>
      <div class='flex overflow-x-scroll'>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/research_bats.jpg'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art.JPG'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_chibi.jpg'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_cover.jpg'/>
      </div>
    </div>
    {%
      include professional-product-section-start.html
      project-avatar='/assets/img/professional/boards/logo.png'
      project-name='Boards'
      project-date-range='January 2019 - August 2020'
    %}
    <div class='professional-scroll'>
      <div class='flex overflow-x-scroll'>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/research_bats.jpg'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art.JPG'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_chibi.jpg'/>
        <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_cover.jpg'/>
      </div>
    </div>
  </div>
</div>