---
layout: project
title: Fight Sticks
meta: Arcade Fight Stick for PS3/PS4
category: project
img-src: assets/img/fightSticks/darkstalkers/final/frontFinal.JPG
content-src: project/2018/12/25/fightsticks.html
---

{% include project-header.html
  background-img-src='assets/img/fightSticks/darkstalkers/morrigan-background.png'
  project-title='Fight Sticks'
  project-description='Arcade fight sticks I\'ve made over the years.'
  accent-color='142,44,155'
%}

{% include project-sticky-header.html
  project-title='Fight Sticks'
  accent-color='142,44,155'
%}

<div>
<h1>Darkstalkers Themed Stick (2019)</h1>

<p>
Since my wife and I started dating, we've playing fighting games together. For the longest time she played on an old ps2 stick with an adapter and one Christmas I decided to make a better stick for her. This stick was made based off her favorite series, Darkstalkers, with a focus on her favorite character, Morrigan.
</p>

<h2>Research</h2>
<p>Before deciding on how and what to build, I first searched a Darkstalkers Art Book we have for inspiration on colors and for artwork to use on the fight stick.</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/darkstalkers/inspiration/research_bats.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art.JPG'/>
    <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_chibi.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/inspiration/darkstalkers_art_cover.jpg'/>
  </div>
</div>

<h2>Design / Etching</h2>
<p>After finding some images that I really liked, I started out processing them for a cover and back panel etching. I was lucky enough to go to a college that has a laser cutter and etcher. Which made manufacturing this stick significantly easier. I decided to set it up to cut on my first pass, that way I avoided any burn scars on the final etching on the back of the front panel.</p>

<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/darkstalkers/etching/back-panel-etch.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/etching/laser-etch.gif'/>
    <img src='assets/img/fightSticks/darkstalkers/etching/back-panel-etch.gif'/>
  </div>
</div>

<h2>Box Assembly</h2>
<p>Once all the pieces were etched I was able to sand, glue, assemble, and finish the wood part of the fight stick.</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/darkstalkers/assembly/post-laser-engraving.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/assembly/wood_box.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/assembly/partial-box.jpg'/>
  </div>
</div>

<h2>Final Piece</h2>
<p>I picked out some parts to go along with the artwork. For the stick hardware I used: Hori Hayabusa (joystick), Sanwa OBSF 24/30mm (buttons), and a pre-installed Brook Board.</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/darkstalkers/final/frontFinal.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/final/final_side.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/final/inside.jpg'/>
    <img src='assets/img/fightSticks/darkstalkers/final/final_inside_close.jpg'/>
  </div>
</div>

<div class='pt2'></div>
<h1>Street Fighter Themed Stick (2016)</h1>

<p>
  The first fighting game I got into was Street Fighter: Third Strike. I got hooked playing one summer with my wife while we were dating. While watching tournaments I had seen cool custom fight sticks and decided to give it a go in creating my own.
</p>

<h2>Research</h2>
<p>I started out by finding all the resources available for building a custom fight stick. For creating the stick artwork I went through a bunch of different online Street Fighter comics to get inspiration for the stick and create an understanding of the type of color palette I wanted to use.</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/streetfighter/inspiration/sakura.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/inspiration/balrog.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/inspiration/bison.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/inspiration/chunli.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/inspiration/nash.jpg'/>
  </div>
</div>

<h2>Box Assembly and Design</h2>
<p>Building this stick was my introduction into a lot of techniques. In the process on building it I learned how to use a laser cutter, how to solder, and the basics of wood making. I also experimented with some different stick artwork.</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/streetfighter/assembly/soldering.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/assembly/facePlateIdea.jpg'/>
  </div>
</div>

<h2>Final Piece</h2>
<p>Throughout this project I was able to learn a lot about prototyping tools. It was
  also nice being able to do some graphic design for the collage on the face of
  the stick. When I made this I was pretty crazy about Street Fighter and I'm glad
  I was able to learn something and be productive through my excitement of the series.
</p>
<div class='stylish-scroll'>
  <div class='flex overflow-x-scroll'>
    <img src='assets/img/fightSticks/streetfighter/final/fs2.jpeg'/>
    <img src='assets/img/fightSticks/streetfighter/final/fs3.jpeg'/>
    <img src='assets/img/fightSticks/streetfighter/final/Fightstick-detail.jpg'/>
    <img src='assets/img/fightSticks/streetfighter/final/fs4.jpeg'/>
  </div>
</div>

</div>
