<div class="navigation">
  <div class="name-and-face">
    <div class='avatar'>
      <img src="assets/img/avatar.png">
    </div>
    <div class='name' onclick='onProjectReturn()'>Trevor Forrey</div>
    <span class='occupation'>Full Stack Software Engineer</span>
  </div>
  <div class="navigation-items wrapper">
    <div class="navigation-item personal-projects" onclick='onTabSelect("personal-projects")'> Personal </div>
    <div class="navigation-item professional-projects" onclick='onTabSelect("professional-projects")'> Professional </div>
    <div class="navigation-item photography-projects" onclick='onTabSelect("photography-projects")'> Photography </div>
  </div>
</div>
