<div class="side-panel">
  <img class="avatar" src="assets/img/avatar.jpg">
  <h2> Trevor Forrey </h2>
  <p> Hi, I'm Trevor. I'm a Software Engineering student at ASU. I love learning about new
    programming paradigms and combining art with software.
  </p>
  <p> Feel free to check out my <a href="assets/Resume.pdf">resume</a>,
    <a href="https://github.com/trevorforrey">github</a>,
     <a href="https://www.linkedin.com/in/trevor-forrey-98688283/">linkedin</a>,
     and posts about what I've worked on. </p>
</div>
