<div class="side-panel">
  <div class='avatar'>
      <img src="assets/img/avatar.jpg">
  </div>
  <p> Trevor Forrey </p>
  <p> Hi, I'm Trevor. I'm a Software Engineer based in Phoenix. I love learning about new technologies
    and getting to know the software community.
  </p>
  <p> Feel free to check out my <a href="assets/Resume.pdf">resume</a>,
    <a href="https://github.com/trevorforrey">github</a>,
     <a href="https://www.linkedin.com/in/trevor-forrey-98688283/">linkedin</a>,
     and projects I've worked on. </p>
  <p>
    <a href="https://twitter.com/tforrey">@tforrey</a>
  </p>
</div>
