.app {
  background-color: $background-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.project {
  justify-content: start;
  display: flex;
  max-width: 1200px;
}

.project-return {
  position: sticky;
  padding-right: 1em;
  top: 64;
  height: 3em;
  width: 2em;
  margin: 0 !important;
  opacity: 0.5;
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;

  h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    color: #8c8c8c;
    //color: #444;
  }

  p, li {
    @include primary-text;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    letter-spacing: -.0125em;
    font-size: 1em;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
  }
}

a {
    color: #60b4ff;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
