
body {
  margin: auto;
  padding: auto;

  h1 {
    font-family: 'Istok Web', sans-serif;
    color: #8c8c8c;
    //color: #444;
  }

  p, li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    letter-spacing: -.0125em;
    font-size: 1em;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
  }
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

body {

}

.coder {
  overflow: scroll;
  max-height: 500px;
}
