
body {
  margin: auto;
  padding: auto;

  h1 {
    font-family: 'Istok Web', sans-serif;
    color: #8c8c8c;
    //color: #444;
  }

  p {
    font-family: 'Open Sans', sans-serif;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
  }
}

body {

}

.coder {
  overflow: scroll;
  max-height: 500px;
}
