.navigation-bar {
  color: coral;
  background-color: #5585A6;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 0.5rem;

  ul {
    float: right;
    padding-right: 1rem;
  }

  li {
    font-size: 1.2em;
    line-height: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    padding: 0.5em;
    color: #5585A6
  }

  &:span {
    font-size: 1.2em;
    line-height: 0.25rem;
    height: 0.25rem;
    display: none;
    padding-top: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  body .navigation-bar {
    height: 3rem;
    background-color: #F8F8FB;
  }
  body .side-panel {
    display: none;
  }
  body .main-area {
    margin: auto;
    width: 100%;
    padding: 1rem;
  }
  body .nav-name {
    display: inline-block;
    float: left;
    padding-top: 0.75em;
    padding-left: 0.5em;
  }
  body .nav {
    display: inline-block;
  }
  body .project-thumb-container {
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  body .nav-name {
    display: none;
  }
  body .nav {
    display: none;
  }

}
