.portfolio {
  overflow-x: hidden;
}

.project-belt {
  width: 200%;
  position: relative;
}

.project-list-wrap, .project-wrap {
  width: 50%;
  float: left;
}

.project-thumb-container {
  width: 180px;
  height: 180px;
  margin: 0px auto;
  float: left;

  img {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  &:hover {
    color: blue;
  }
}

.project-container {
  max-width: 600px;
  margin: 0px auto;

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.project-return {
  width: 20px;
  height: 20px;
  background-color: coral;

  &:hover {
    opacity: 0.5;
  }
}
