.portfolio {
  overflow-x: hidden;
}

.project-belt {
  width: 200%;
  position: relative;
}

.project-list-wrap, .project-wrap {
  width: 50%;
  float: left;
}

.project-thumb-container {
  width: 14em;
  height: 21em;
  margin-right: 1em;
  margin-bottom: 3em;
  float: left;

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  &:hover {
    color: blue;
  }
}

.project-container {
  margin: 0px auto;

  img {
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.project-return {
  width: 20px;
  height: 20px;
  background-color: coral;
  position: fixed;

  &:hover {
    opacity: 0.5;
  }
}

.work-detail-container {
  padding: 1rem;

  img {
    text-align: center;
    margin-bottom: 1rem;
  }

  iframe {
    text-align: center;
    margin-bottom: 1rem;
    display: block;
  }
}
