$thumb-list: thumb-1 thumb-2 thumb-3 thumb-4;
$thumb-long: 24em;
$thumb-medium: 22em;
$thumb-short: 18em;

$i: 6;
@while $i < 0 {
  #thumb-#{$i} {
  }
}

.portfolio {
  overflow-x: hidden;
}

.project-belt {
  width: 200%;
  position: relative;
}

.project-list-wrap, .project-wrap {
  width: 50%;
  float: left;
}

.project-thumb-container {
  width: 14em;
  height: 21em;
  margin-right: 1em;
  margin-bottom: 2rem;
  float: left;
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  img {
    width: 14em;
    height: 18.5em;
    text-align: center;
  }

  &:hover .project-title{
    color: #333;
  }

  // For image hover effect
  &:hover {

  }
}

@media screen and (max-width: 600px) {
  body .project-thumb-container {
    width: 10.5em;
    height: 15.75em;
    margin-bottom: 1rem;
    margin-right: 1rem;

    img {
      width: 10.5em;
      height: 13.875em;
    }
  }
}

.project-title {
  text-align: center;
  background-color: rgb(231,231,231);
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: #666;
}

@media screen and (max-width: 600px) {
  body .project-title {
    font-size: 0.75rem;
    line-height: 1.875rem;
    height: 1.875rem;
  }
}

.project-container {
  margin: 0px auto;

  p {
    margin-top: 16px;
    margin-bottom: 1.5em;
    color: #444;
  }

  img {
    max-width: 100%;
    margin-bottom: 1.2em;
    display: block;
    margin: auto;
  }
}

$break-phone: 750px;
$break-small: 878px;
$break-large: 1023px;

.project-return {
  width: 20px;
  height: 20px;
  background-color: coral;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  top: 3.8rem;
  left: 18%;
  display: none;

  &:hover {
    opacity: 1.0;
  }

  @media screen and (max-width: $break-large) {
    left: 10%;
  }
  @media screen and (max-width: $break-small) {
    left: 3%;
  }
  @media screen and (max-width: $break-phone) {
    position: relative;
    display: block;
    top: 1rem;
  }
}

.work-detail-container {
  padding: 1rem;
  max-width: 650px;
  margin: 0px auto;

  ul {
    padding-left: 1rem;
  }

  img {
    max-width: 400px;
    margin: 0px auto;
    margin-bottom: 1rem;
  }

  iframe {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 1rem;
    display: block;
  }
}
