.bullet-box {
  border-style: solid;
  border-color: #99ebff;
  justify-content: start;
  padding: 1em;

  span {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    letter-spacing: -.0125em;
    font-size: 1em;
  }
}

.highlighter-rouge {
  font-family: monospace;
  background-color: $background-secondary-color;
}

.project-load {
  display: flex;
  justify-content: center;
}

.project-banner-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.project-header {
  background-size: cover;
  background-position: center;
  height: 12em;
  align-items: center;
}

.project-banner {
  background-size: cover;
  background-position: center;
  height: 12em;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.project-banner-overlay {
  display: flex;
  z-index: 10;
}

.project-header-title {
  display: flex;
  align-items: center;

  .project-actual-title {
    display: flex;
    font-size: 50;
    margin-right: 12px;
  }
}

.project-header-description {
  padding-left: 2em;
  display: block;
  color: #ffff;
}

.sticky-project-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 64;
  align-self: flex-start;
  height: 3em;
  width: 100%;
  z-index: 12;

  .sticky-project-header-name {
    display: flex;
  }
}

.hidden {
  visibility: hidden;
}
