.bullet-box {
  border-style: solid;
  border-color: #99ebff;
  justify-content: start;
  padding: 1em;

  span {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    letter-spacing: -.0125em;
    font-size: 1em;
  }
}

.highlighter-rouge {
  font-family: monospace;
  background-color: #F0F0F0;
}
