.side-panel {
  justify-content: center;
  text-align: center;
  float: left;
  color: #8c8c8c;
  width: 20%;
  height: 100%;
  margin: auto;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  min-width: 8em;
  position: fixed;

  h2 {
    color: #444;
  }

  p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 10em;
    height: 10em;
  }

  img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
  }
}
