.side-panel {
  justify-content: center;
  text-align: center;
  color: #8c8c8c;
  height: 100%;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  position: sticky;
  top: 0em;
  max-width: 55em;

  h2 {
    color: #444;
  }

  p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 10em;
    height: 10em;
  }

  img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
  }
}
