.side-panel {
  justify-content: center;
  text-align: center;
  height: 100%;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  position: sticky;
  top: 0em;
  width: 15em;
  min-width: 15em;

  .about-me {
    @include primary-text
  }

  h2 {
    color: #444;
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 10em;
    height: 10em;
  }

  img {
    display: inline;
    margin: 0 auto;
    // margin-left: -25%; //centers horizontal images
    height: 100%;
    width: auto;
  }
}
