@media only screen and (max-width: 1023px) and (min-width: 601px) {
  body {
    margin: auto;
    padding: auto;

    h1, h2, h3 {
      font-family: 'Opens Sans', sans-serif;
      color: #8c8c8c;
    }

    h1 {
      font-weight: 500
    }

    h2 {
      font-weight: 500
    }

    p, li {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.5em;
      letter-spacing: -.0125em;
      font-size: 1em;
    }

    strong {
      font-family: 'Open Sans', sans-serif;
    }

    .main-area {
      margin: auto;
      width: 100%;
      padding: 1em;
    }

    .navigation-item {
      position: sticky;
      top: 0;
      z-index: 1;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      background-color: white;
    }

    .side-panel {
      display: none;
    }

    .mobile-navigation {
      display: block;
    }

    .projects-link {
      display: none;
    }
  }
}