@media only screen and (max-width: 1023px) and (min-width: 601px) {
  body {
    .navigation-item {
      display: inline-block;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-right: 0.7em;
      background-color: white;
    }

    .navigation {
      display: block;
    }
  }
}