@media only screen and (max-width: 1023px) and (min-width: 601px) {
  body {
    .side-panel {
      justify-content: center;
      text-align: center;
      color: #8c8c8c;
      height: 100%;
      padding-top: 0em;
      padding-left: 0em;
      padding-right: 0em;
      position: sticky;
      top: 0em;
      width: 15em;
      min-width: 15em;
      margin: 0px auto;

      h2 {
        color: #444;
      }

      .avatar {
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        width: 10em;
        height: 10em;
      }

      img {
        display: inline;
        margin: 0 auto;
        // margin-left: -25%; //centers horizontal images
        height: 100%;
        width: auto;
      }
    }
  }
}
