@media screen and (max-width: 600px) {
  body {
    margin: auto;
    padding: auto;

    h1, h2, h3 {
      font-family: 'Opens Sans', sans-serif;
      color: #8c8c8c;
    }

    h1 {
      font-weight: 500
    }

    h2 {
      font-weight: 500
    }

    p, li {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.5em;
      letter-spacing: -.0125em;
      font-size: 1em;
    }

    strong {
      font-family: 'Open Sans', sans-serif;
    }

    .side-panel {
      display: none;
    }

    .main-area {
      margin: auto;
      width: 100%;
      padding: 0rem;
    }
  }
}