@media screen and (max-width: 600px) {
  body {
    .navigation-item {
      display: inline-block;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.7em;
      background-color: white;
    }

    .navigation {
      display: block;
    }
  }
}