@media screen and (max-width: 600px) {
  body {
    .side-panel {
      justify-content: center;
      text-align: center;
      height: 100%;
      padding-top: 3em;
      padding-left: 0em;
      padding-right: 0em;
      position: sticky;
      top: 0em;
      width: 15em;
      min-width: 15em;
      margin: 0px auto;

      .about-me {
        @include primary-text
      }

      h2 {
        color: #444;
      }
    }
  }
}
